<h1>Edit Transfer</h1>
<%= render partial: 'form' %>
<%= link_to 'Transactions', inventory_transactions_path(operation_id: @transfer.id, operation_type: "Transfer"), class: "btn btn-link" if @transfer.processed? %>

